//Это scss файл стилей

html,
body {
  padding: 0;
  margin: 0;
}
body {
  * {
    box-sizing: border-box;
  }
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-one .block {
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .block-ziro {
    width: 300px;
    height: 450px;
    background: url("../images/jellyfish.jpg");
  }
  .block-one {
    position: relative;
    width: 900px;
    height: 450px;
    background: url("../images/foliage.jpg");
  }
  .block-two {
    //display: inline-block;
    position: absolute;
    //right: 4px;
    right: 0;
    ///////
    //bottom: 138px;
    top: 50%;
    margin-top: -72.5px;
    ///////////
    width: 650px;
    height: 145px;
    background: #ff0000;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 94px;
    line-height: 112px;
    align-items: center;
    color: #fdfdfd;
    padding-top: 13px;
  }
}
.section-two .planets {
  display: flex;
  flex-direction: row;
  justify-content: center;

  padding: 10px 0;
  background-color: white;

  .planet {
    width: 162px;
    height: 162px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 250px;
    margin: 10px 28.5px;
  }

  .planet-one {
    // работа как с текстом
    text-align: center;
    line-height: 162px;
    img {
      vertical-align: middle;
    }
  }
  .planet-two {
    position: relative;
    img {
      position: absolute;
      // отступ на половину родителя с лева
      left: 50%;
      // отступ на половину родителя с верху
      top: 50%;
      // минус половина высоты изображения с верху
      margin-top: -55px;
      // минус половина ширины изображения с лева
      margin-left: -55px;
    }
  }
  .planet-three {
    position: relative;
    img {
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }
}
.section-three {
  //flex-direction: row;
  //justify-content: center;
  //height: 860px;
  .nature {
    display: flex;
  }
  .jop {
    width: 50%;
    height: 430px;
  }
  .forest {
    background-image: url(../images/forest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    //background-size: auto auto;
    //background-position: bottom 0 right 0;
    position: relative;
    .forestry {
      position: absolute;
      //width: 597px;
      width: 100%;
      //////////

      height: 80px;

      background: rgba(3, 0, 0, 0.64);
      //border-radius: 2px;
      //left: 78px;
      //top: 1003px;
      bottom: 0;
      left: 0;
      /////////////
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 107px;
      color: #ffffff;
    }
  }
  .sunset {
    background-image: url(../images/sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom 0 left 0;
    //background-size: auto auto;
    position: relative;
    .desert {
      position: absolute;
      //width: 599px;
      width: 100%;
      //////
      height: 80px;
      //top: 1004px;
      //right: 76px;
      right: 0;
      bottom: 0;

      background: rgba(3, 0, 0, 0.64);
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 106px;
      text-align: right;

      color: #ffffff;
    }
  }
}

@media (max-width: 768px) {
  .section-three {
    .nature {
      display: flex;
      flex-direction: column;
      .jop {
        width: 100%;
      }
    }
  }
}
