// исходник css
@import "./_fonts.scss";
@import "./_libs.scss";
@import "./_vars.scss";

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "RalewayRegular", serif;
  opacity: 1;
  


  &.is-home {
    opacity: 1;
    color: #fff;

    .site-header {
      min-height: 700px;
    }
    .boy {
      color: #fff;
    }
  }
}
@import "./_media"; //всегда в конце!
